@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 8% 95%;
    --foreground: 240 5% 10%;
    --card: 240 8% 90%;
    --card-foreground: 240 5% 15%;
    --popover: 240 8% 95%;
    --popover-foreground: 240 95% 10%;
    --primary: 240 11% 36%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 202 10% 85%;
    --muted-foreground: 240 5% 35%;
    --accent: 202 10% 80%;
    --accent-foreground: 240 5% 15%;
    --destructive: 0 50% 34%;
    --destructive-foreground: 240 5% 90%;
    --border: 240 20% 50%;
    --input: 240 20% 34%;
    --ring: 240 11% 36%;
    --radius: 0.5rem;
  }

  html[data-theme='default-dark'] {
    --background: 240 10% 10%;
    --foreground: 240 5% 90%;
    --card: 240 8% 10%;
    --card-foreground: 240 5% 90%;
    --popover: 240 10% 5%;
    --popover-foreground: 240 5% 90%;
    --primary: 240 11% 36%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 202 10% 25%;
    --muted-foreground: 240 5% 60%;
    --accent: 202 10% 25%;
    --accent-foreground: 240 5% 90%;
    --destructive: 0 50% 34%;
    --destructive-foreground: 240 5% 90%;
    --border: 240 20% 34%;
    --input: 240 20% 34%;
    --ring: 240 11% 36%;
    --radius: 0.5rem;
  }

  html[data-theme='blue-light'] {
    --background: 224.4 100% 95%;
    --foreground: 224.4 5% 0%;
    --card: 224.4 50% 90%;
    --card-foreground: 224.4 5% 10%;
    --popover: 224.4 100% 95%;
    --popover-foreground: 224.4 100% 0%;
    --primary: 224.4 64.3% 32.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 224.4 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 186.4 30% 85%;
    --muted-foreground: 224.4 5% 35%;
    --accent: 186.4 30% 80%;
    --accent-foreground: 224.4 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 224.4 5% 90%;
    --border: 224.4 30% 50%;
    --input: 224.4 30% 18%;
    --ring: 224.4 64.3% 32.9%;
    --radius: 0.5rem;
  }

  html[data-theme='blue-dark'] {
    --background: 224.4 50% 5%;
    --foreground: 224.4 5% 90%;
    --card: 224.4 50% 0%;
    --card-foreground: 224.4 5% 90%;
    --popover: 224.4 50% 5%;
    --popover-foreground: 224.4 5% 90%;
    --primary: 224.4 64.3% 32.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 224.4 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 186.4 30% 15%;
    --muted-foreground: 224.4 5% 60%;
    --accent: 186.4 30% 15%;
    --accent-foreground: 224.4 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 224.4 5% 90%;
    --border: 224.4 30% 18%;
    --input: 224.4 30% 18%;
    --ring: 224.4 64.3% 32.9%;
    --radius: 0.5rem;
  }

  html[data-theme='green-light'] {
    --background: 164 100% 95%;
    --foreground: 164 5% 0%;
    --card: 164 50% 90%;
    --card-foreground: 164 5% 10%;
    --popover: 164 100% 95%;
    --popover-foreground: 164 100% 0%;
    --primary: 164 90% 14%;
    --primary-foreground: 0 0% 100%;
    --secondary: 164 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 126 30% 85%;
    --muted-foreground: 164 5% 35%;
    --accent: 126 30% 80%;
    --accent-foreground: 164 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 164 5% 90%;
    --border: 164 30% 50%;
    --input: 164 30% 18%;
    --ring: 164 90% 14%;
    --radius: 0.5rem;
  }

  html[data-theme='green-dark'] {
    --background: 164 50% 5%;
    --foreground: 164 5% 90%;
    --card: 164 50% 0%;
    --card-foreground: 164 5% 90%;
    --popover: 164 50% 5%;
    --popover-foreground: 164 5% 90%;
    --primary: 164 90% 14%;
    --primary-foreground: 0 0% 100%;
    --secondary: 164 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 126 30% 15%;
    --muted-foreground: 164 5% 60%;
    --accent: 126 30% 15%;
    --accent-foreground: 164 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 164 5% 90%;
    --border: 164 30% 18%;
    --input: 164 30% 18%;
    --ring: 164 90% 14%;
    --radius: 0.5rem;
  }

  html[data-theme='red-light'] {
    --background: 0 100% 95%;
    --foreground: 0 5% 0%;
    --card: 0 50% 90%;
    --card-foreground: 0 5% 10%;
    --popover: 0 100% 95%;
    --popover-foreground: 0 100% 0%;
    --primary: 0 69% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: -38 30% 85%;
    --muted-foreground: 0 5% 35%;
    --accent: -38 30% 80%;
    --accent-foreground: 0 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 0 5% 90%;
    --border: 0 30% 50%;
    --input: 0 30% 18%;
    --ring: 0 69% 38%;
    --radius: 0.5rem;
  }

  html[data-theme='red-dark'] {
    --background: 0 50% 5%;
    --foreground: 0 5% 90%;
    --card: 0 50% 0%;
    --card-foreground: 0 5% 90%;
    --popover: 0 50% 5%;
    --popover-foreground: 0 5% 90%;
    --primary: 0 69% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: -38 30% 15%;
    --muted-foreground: 0 5% 60%;
    --accent: -38 30% 15%;
    --accent-foreground: 0 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 0 5% 90%;
    --border: 0 30% 18%;
    --input: 0 30% 18%;
    --ring: 0 69% 38%;
    --radius: 0.5rem;
  }

  html[data-theme='violet-light'] {
    --background: 262 100% 95%;
    --foreground: 262 5% 0%;
    --card: 262 50% 90%;
    --card-foreground: 262 5% 10%;
    --popover: 262 100% 95%;
    --popover-foreground: 262 100% 0%;
    --primary: 262 50% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 262 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 224 30% 85%;
    --muted-foreground: 262 5% 35%;
    --accent: 224 30% 80%;
    --accent-foreground: 262 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 262 5% 90%;
    --border: 262 30% 50%;
    --input: 262 30% 18%;
    --ring: 262 50% 38%;
    --radius: 0.5rem;
  }

  html[data-theme='violet-dark'] {
    --background: 262 50% 5%;
    --foreground: 262 5% 90%;
    --card: 262 50% 0%;
    --card-foreground: 262 5% 90%;
    --popover: 262 50% 5%;
    --popover-foreground: 262 5% 90%;
    --primary: 262 50% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 262 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 224 30% 15%;
    --muted-foreground: 262 5% 60%;
    --accent: 224 30% 15%;
    --accent-foreground: 262 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 262 5% 90%;
    --border: 262 30% 18%;
    --input: 262 30% 18%;
    --ring: 262 50% 38%;
    --radius: 0.5rem;
  }

  html[data-theme='sepia-light'] {
    --background: 36 72% 95%;
    --foreground: 36 5% 10%;
    --card: 36 50% 90%;
    --card-foreground: 36 5% 13%;
    --popover: 36 72% 95%;
    --popover-foreground: 36 95% 10%;
    --primary: 36 45.1% 70%;
    --primary-foreground: 0 0% 0%;
    --secondary: 36 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: -2 30% 85%;
    --muted-foreground: 36 5% 35%;
    --accent: -2 30% 80%;
    --accent-foreground: 36 5% 13%;
    --destructive: 0 72% 30%;
    --destructive-foreground: 36 5% 90%;
    --border: 36 30% 50%;
    --input: 36 30% 18%;
    --ring: 36 45.1% 70%;
    --radius: 0.5rem;
  }

  html[data-theme='sepia-dark'] {
    --background: 36 50% 10%;
    --foreground: 36 5% 90%;
    --card: 36 50% 10%;
    --card-foreground: 36 5% 90%;
    --popover: 36 50% 5%;
    --popover-foreground: 36 5% 90%;
    --primary: 36 45.1% 70%;
    --primary-foreground: 0 0% 0%;
    --secondary: 36 30% 13%;
    --secondary-foreground: 0 0% 100%;
    --muted: -2 30% 15%;
    --muted-foreground: 36 5% 60%;
    --accent: -2 30% 15%;
    --accent-foreground: 36 5% 90%;
    --destructive: 0 72% 30%;
    --destructive-foreground: 36 5% 90%;
    --border: 36 30% 18%;
    --input: 36 30% 18%;
    --ring: 36 45.1% 70%;
    --radius: 0.5rem;
  }
  /* 
  html[data-theme='nature-light'] {
    --background: 58, 65%, 83%;
    --foreground: 187, 33%, 43%;
    --muted: 187, 33%, 43%;
    --muted-foreground: 187, 33%, 43%;
    --popover: 58, 65%, 83%;
    --popover-foreground: 187, 33%, 43%;
    --border: 93, 28%, 56%;
    --input: 93, 28%, 56%;
    --card: 93, 28%, 56%;
    --card-foreground: 187, 33%, 43%;
    --primary: 70, 20%, 68%;
    --primary-foreground: 187, 33%, 43%;
    --secondary: 70, 20%, 68%;
    --secondary-foreground: 187, 33%, 43%;
    --accent: 70, 20%, 68%;
    --accent-foreground: 187, 33%, 43%;
    --destructive: 187, 33%, 43%;
    --destructive-foreground: 58, 65%, 83%;
    --ring: 93, 28%, 56%;
  }

  html[data-theme='nature-dark'] {
    --background: 187, 33%, 43%;
    --foreground: 58, 65%, 83%;
    --muted: 58, 65%, 83%;
    --muted-foreground: 58, 65%, 83%;
    --popover: 187, 33%, 43%;
    --popover-foreground: 58, 65%, 83%;
    --border: 93, 28%, 56%;
    --input: 93, 28%, 56%;
    --card: 187, 33%, 43%;
    --card-foreground: 58, 65%, 83%;
    --primary: 70, 20%, 68%;
    --primary-foreground: 58, 65%, 83%;
    --secondary: 70, 20%, 68%;
    --secondary-foreground: 58, 65%, 83%;
    --accent: 70, 20%, 68%;
    --accent-foreground: 58, 65%, 83%;
    --destructive: 58, 65%, 83%;
    --destructive-foreground: 187, 33%, 43%;
    --ring: 93, 28%, 56%;
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}
